.wrap{
  width: var(--width);
  margin: 0 auto;
  position: relative;
  color: var(--color-txt);
  h3{
    font-weight: 600;
    font-size: var(--font-h2);
    text-align: center;
    transform: translateY(-40px);
    padding-bottom: 30px;
  }
  .flex{
    display: flex;
  }
  .bg{
    position: absolute;
    bottom: 45px;
    right: -200px;
  }
  .info{
    width: 486px;
    font-size: var(--font-text);
    line-height: 140%;
  }
  .box{
    width: 234px;
    height: 350px;
  }
  .box:nth-of-type(2){
    transform: translateY(-54px);
  }
  .img{
      object-fit: cover;
      object-position: top;
      border-radius: 130px;
      border: 2px solid transparent;
      background: var(--border-color);
    }
  .name{
    font-weight: 500;
    font-size: 24px;
    padding: 7px 0;
  }
  .description{
    font-weight: 400;
    font-size: 14px;
    width: 185px;
  }
  .mentors{
    width: 600px;
    color: var(--color-txt);
    .line{
      transform: translate(100px, 5px);
    }
    p:first-child{
      font-weight: 600;
      font-size: 32px;
      text-align: center;
    }
  }
}


